{%extends "layout.html"%}
{%block content%}
<style>
    .forgotpasswordtext a{
        color: #1aa7ec;
        font-style: normal;
        padding-top: 10px;
    }
    .forgotpasswordtext a:hover{
        color: #1aa7ec;
        text-decoration: underline;
    }

    .createaccountmsg a{
        color: #1aa7ec;
        font-style: normal;
        padding-top: 10px;
    }
    .createaccountmsg a:hover{
        color: #1aa7ec;
        text-decoration: underline;
    }

    .formbox{
        margin-left: 30%;
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .signinbutton button{
        background-color: #1aa7eb;
        border-color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 300px;
        padding: 10px;
        margin-left: 13%;
    }

    .signinbutton button:hover{
        background-color:teal;
        border-color: white;
    }

    .createaccountmsg{
        margin-left: 11%;
    }

    h1{
        margin-left: 4%;
    }
    p{
        margin-left: -5%;
    }
</style>
<div class="container">
    <div class="formbox">
            <h1>Boat Information Sumbitted!</h1>
            <p>Your Boat has successfully been added to our library! Thank you for using our services</p>
            <a href="/home"><div class="signinbutton"><button type="submit" class="btn btn-primary">Return to Home</button></div></a>
    </div>
</div>
{%endblock content%}